# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.

# build data
/.esphome/

# Secret stuff
**/secrets.yam

# Compiled Python code
**/*.pyc

# Backup files
**/.*.swp
**/.*.swo
